

section {
    height: 400px;
    background: url("../img/coworking.jpg");
    background-size: 100%;
    background-position: center;
}

nav {
    float:right;
    text-decoration-color: white;
    text-underline-position: black;
}

.box {
    width: 30%;
    float: left;
    padding: 1.5%;
}

footer {
    clear:both;
    font-family: sans-serif;
    color: white;
    background-color: black;
    padding: 30px;
}